[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A sample Spring-based application
[access "refs/*"]
	owner = group user/Irina (avkdr)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Irina (avkdr)
	label-Verified = -1..+1 group user/Irina (avkdr)
	push = group user/Irina (avkdr)
	read = group user/Irina (avkdr)
	rebase = group user/Irina (avkdr)
	removeReviewer = group user/Irina (avkdr)
	submit = group user/Irina (avkdr)
[access "refs/heads/*"]
	create = group user/Irina (avkdr)
	push = +force group user/Irina (avkdr)
	pushMerge = group user/Irina (avkdr)
	read = group user/Irina (avkdr)
[access "refs/tags/*"]
	push = group user/Irina (avkdr)
	push = +force group user/Irina (avkdr)
